
<% if (typeof errors != 'undefined') { %>
  <% errors.forEach((error) => {   %>
    <div class="alert-warning">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <%= error.msg %>
    </div>
<%  }) %>
<% } %>


<% if (success_msg !== '') { %>
  <div class="alert-success">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <%= success_msg %>
  </div>
<% } %>

<% if (error_msg !== '') { %>
  <div class="alert-warning">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <%= error.msg %>
  </div>
<% } %>


<% if (error !== '') { %>
  <div class="alert-warning">
    <%= error %>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <%= error %>
  </div>
<% } %>