
<div id="content-flex">
    <div id="header"><h1>archive</h1>
        <a href="/users/logout" id="logout"><img src="./logout.svg" id="logout-icon" height=15" title="Log out"></a>
    </div>
        
    <div id="center-box">
        <div id="nav-bar">
            <p> <%= name %></p>
            <ul>
                <a href="/new"><li>new</li></a>
                <li class="current">archive</li>
                <a href=""><li>tags</li></a>
            </ul>
        </div>
        <div id="content-box">
            <% for (let i = entries.length-1; i > 0; i--) { %>
                <div class="entry-text">
                <div class="date"><%= entries[i].date.toLocaleString() %></div>
                <div class="post-header"><%= entries[i].title %></div>
                <div class="post"><%= entries[i].description %></div>
            <% if (entries[i].tag) { %> 
                <div class="tag"><%= entries[i].tag %></div>
                <% } %>
            </div> 
            <% } %>
        </div>
    </div>
</div>

  
