
<div id="content-flex">
    <%- include('./partials/header.ejs') %>
    <div id="center-box">
        <%- include('./partials/navbar.ejs') %>
        <div id="content-box">
           
            <div class="entry-text">
                <div class="date"><%= entry.date.toLocaleString() %></div>
                <div class="post-header"><%= entry.title %></div>
                <div class="post"><%= entry.description %></div>

            <% if (entry.tags.length > 0) { %> 
                <% for (let j = 0; j < entry.tags.length; j++) { %>
                    <span class="tag"><%= entry.tags[j] %></span>
                    <% } %>
                <% } %>
                <div class="post-bottom">
                    <a class="delete-edit" id="del" data-doc= "<%= entry._id %>"><img src="/trash.svg" title="delete" height="25"></a>
                    <a href="/edit/<%= entry._id %>" class="delete-edit" id="edit" data-doc= "<%= entry._id %>"><img src="/pencil-square.svg" title="edit" height="25"></a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const trash = document.querySelector('#del')
    
        trash.addEventListener('click', async (e) => {
            const endpoint = `/entries/${trash.dataset.doc}`
            const response = await fetch(endpoint, { method: 'DELETE' })
            const data = await response.json()
            window.location.href = data.redirect
        })

</script>