
<div id="content-flex">
    <%- include('./partials/header.ejs') %>
    <div id="center-box">
        <%- include('./partials/navbar.ejs') %>
        <div id="content-box">
        <% if (resultsByTag.length == 0) { %> 
            No results were found
            <% } %>
            <% for (let i = 0; i < resultsByTag.length; i++) { %>
               
                <div class="entry-text">
                    <div class="date"><%= resultsByTag[i].date.toLocaleString() %></div>
                    <a href="/entries/<%= resultsByTag[i]._id %>" class="post-header-link"><div class="post-header"><%= resultsByTag[i].title %></div></a>
                    <div class="post"><%= (resultsByTag[i].description.length > 300) ? `${resultsByTag[i].description.substr(0, 300)} (...) `: resultsByTag[i].description %></div>
                </div>
                
            <% }%>
        </div>
    </div>
</div>