
<div id="content-flex">
    <div id="header"><h1>results by tag '<%= selectedTag %>' </h1>
        <a href="/users/logout" id="logout"><img src="./logout.svg" id="logout-icon" height=15" title="Log out"></a>
    </div>
        
    <div id="center-box">
        <%- include('./partials/navbar.ejs') %>
        <div id="content-box">
        <% if (resultsByTag.length == 0) { %> 
            No results were found
            <% } %>
            <% for (let i = 0; i <  resultsByTag.length; i++) { %>
                <div class="entry-text">
                <div class="date"><%= resultsByTag[i].date.toLocaleString() %></div>
                <div class="post-header"><%= resultsByTag[i].title %></div>
                <div class="post"><%= resultsByTag[i].description %></div>
                <div class="post-bottom">
                    <img src="./trash.svg" class="delete">
                </div>
            </div> 
            <% }%>
        </div>
    </div>
</div>